.lrcBlock {
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
  height: 60%;
  width: 260px;
  overflow: hidden;

  p {
    color: #cecece;
    font-size: 12px;
  }

  .active {
    color: red;
  }
}