.lrcContainer {
  width: 100%;
  height: 39%;
  position: relative;
  overflow: scroll;
  margin-bottom: 4%;
  margin-top: 8%;
}

.lrcContainer::-webkit-scrollbar {
  display: none;
}

.lrcBlock {
  position: absolute;
  top: 0;
  width: 100%;

  p {
    color: #cecece;
    font-size: 12px;
    line-height: 18px;
  }

  .active {
    color: #1989fa;
  }
}